body{
    background-color: rgb(108, 108, 203);
}
p{
    background-color: rgb(168, 246, 246);
}
a{
    background-color: rgb(235, 122, 122);
}
h1{
    background-color: rgb(139, 241, 139);
}
span{
    background-color: rgb(13, 233, 233);
}